[submodule "workspace/src/rplidar_ros"]
	path = workspace/src/rplidar_ros
	url = https://github.com/robopeak/rplidar_ros.git
[submodule "workspace/src/razor_imu_9dof"]
	path = workspace/src/razor_imu_9dof
	url = https://github.com/KristofRobot/razor_imu_9dof.git
[submodule "workspace/src/nmea_navsat_driver"]
	path = workspace/src/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
[submodule "workspace/src/como_image_processing"]
	path = workspace/src/como_image_processing
	url = https://github.com/The-SS/como_image_processing
